#Brown {
    background-color: brown;
    color: #A52A2A;
}

#DeepSkyBlue {
    background-color: deepskyblue;
    color: #00BFFF;
}

#Blueviolet {
    background-color: blueviolet;
    color: #8A2BE2;
}

#Gold {
    background-color: Gold;
    color: #FFD700;
}

#DarkOrange {
    background-color: darkorange;
    color: #FF8C00;
}

#OliveDrap {
    background-color: olivedrab;
    color: #6B8E23;
}