body {
    background-color: aquamarine;
}

h3 {
    text-align: center;
    color: brown;
}
div.help {
    color: blue;
}
p.help {
    color: red;
    font-size: 1.5em;
}
p#hot {
    background-color: orange;
}