ul {
    list-style-type: none;
    background-color: olive;
    width: 125px;
    margin: 0px;
    padding: 0px;
}
li {
    padding: 0px 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: violet;
}