html, body{
    margin :0;
    height: 100%;
    padding: 0;
}
header {
    background-color: yellow;
    height: 20%;
    width: 100%;
}

h1 {
    text-align: center;
}

nav{
    height: 72%;
    width: 15%;
    float: left;
    background-color: orange;
}

section {
    background-color: lightblue;
    width: 85%;
    height: 72%;
    float: left;

}

footer {
    background-color: violet;
    float: left;
    width: 100%;
    height: 8%;
}