section.h-screen {
    background-image: url(media/mv02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* LINE NEWS */
div.lineNews {
    background-image: url(media/b6df55705210e78a92d45db38d581df1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* LINE Healthcare */
div.Healthcare {
    background-image: url(media/1e80dbf3c316bced68c96812234a2371.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* LINE Pay */
div.LinePay {
    background-image: url(media/1ffd0b45263b41335640b479e71c7576.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.employment {
    background-image: url(media/e8ed41f32061a4f1dc1dc2778a1412a3.png);
}